#app {
	height: 100%;
}

html,
body {
	background: rgb(255, 255, 255);
	font-family: NEXON Lv2 Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "NEXON Lv2 Gothic";
	src: url("../public/fonts/NEXONGothicLight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "NEXON Lv2 Gothic";
	src: url("../public/fonts/NEXONGothic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "NEXON Lv2 Gothic";
	src: url("../public/fonts/NEXONGothicBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

/* 
cdn 추가
@font-face {
	font-family: 'NEXON Lv2 Gothic';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
} */

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
